


.sidebar-orange{
	color:#54667a;

}

.sidebar-links {
	color:#000 ;
}


.activePage{
	display:inline;
	vertical-align: -webkit-baseline-middle;
	background: #f337ab7;
	color: #fff;
	padding: 6px 9px;
	font-size: 12px;
	line-height: 1.5;
	position: relative;
	float: left;
	margin-left: -1px;
	line-height: 1.43857143;
	color: #fff;
	text-decoration: none;
	background-color: #337ab7;
	border: 1px solid #ddd;
}

.form-row{	
	padding-top: 15px; 
}



.login-image{
width: 260px; 
margin: 0 auto; 
display: block;
}

.login-title{
margin: 0 0 12px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
}
login-footer{
margin-top:30px;
}



#exTab1 .tab-content {
  color : #000;
  background:#fff;
  padding : 5px 15px;
}



/* remove border radius for the tab */
.nav-background{
	background:#fff;
}

#exTab1 .nav-pills > li > a {
  border-radius: 0;
      border:0;
	  display: block;
    margin: 0;
    text-align: center;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
	text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-family: 'Poppins',sans-serif;
	
}




.tab-container{
	background:#fff;
}

.box{
	border:0 !important;
}

.addButton{
	padding-bottom:30px;

}


	
.buttonText{
	

    text-align: center;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
	text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-family: 'Poppins',sans-serif;
	font-weight:800;
}

	
	










